<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Rayed's Digital Portfolio</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="'Hello Stranger! My name is ' + #{rayed.name} + '. Welcome to my digital portfolio :)'">Rayed's Digital Portfolio</h1>
</div>
</body>
<th:block layout:fragment="scripts">
    <script src="/js/hello.js"></script>
</th:block>
</html>